.Article {
  color: #fff;
  img {
    width: 100%;
  }
  .ArticleText {
    background-color: #fff;
    color: #1c1c1c;
    padding: 24px;
    padding-top: 8px;
  }
  h1 {
    color: #1c1c1c;
    margin-bottom: 40px;
  }
  i {
    color: #1c1c1c;
    margin-bottom: 24px;
    display: block;
  }
  iframe {
    width: calc(100% - 4px);
  }
}
